

@model List<Student>





<div class="container">
    <div class="row mt-1">

        <div class="col">

            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#myModal">
                
                Open


            </button>

            <div class="modal fade" tabindex="-1" id="myModal"
                 aria-labelledby="Exitlabel" aria-hidden="true"
                 data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg
                 modal-fullscreen-sm-down">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ExitLabel">Lütfen seçtiğiniz adayları göndermek istediğiniz mail adreslerini seçiniz.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="kapat"></button>

                        </div>
                        <div class="modal-body px-4">

                            <form>
                                <div class="container">                                  

                                    <div class="row">
                                        <div class="col">

                                            <div class="card" style="width: auto;">
                                                <div class="card-body card-bodyscale">
                                                    <h5 class="card-title">Teachers</h5>
                                                    <div class="row">

                                                        <div class="col-1">
                                                            <input type="checkbox" class="form-check-input" checked name="IDs" value="#" id="NameCheckBox" />
                                                        </div>

                                                        <div class="col-11">
                                                            <label for="NameCheckBox">Teacher</label><br>

                                                        </div>

                                                    </div>                                                  
                                                                                                      
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col">

                                            <div class="card" style="width: auto;">
                                                <div class="card-body card-bodyscale">
                                                    <h5 class="card-title">Students</h5>

                                                    @foreach(var item in Model)
                                                    {
                                                        <div class="row">
                                                            <div class="col-1">
                                                                <input type="checkbox" name="IDs" class="form-check-input" checked value="@item.Id" id="EmailCheckBox@(item.Id)" />
                                                            </div>
                                                            <div class="col-11">
                                                                <label for="EmailCheckBox@(item.Id)">@item.Name @item.Surname</label><br>
                                                            </div>
                                                        </div>
                                                          

                                                    }                                                  
                                                    


                                                </div>
                                            </div>


                                        </div>

                                    </div>                             


                                </div>

                            </form>
                           

                            


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">İptal</button>
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Onayla</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


