
@{
    ViewData["Title"] = "StudentInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>StudentInfo</h1>


<div>
    <input type="text" placeholder="Please Write An ID" id="StudentID"/>
    <br />
    <input type="submit" id="btnSend" value="Send"/>
</div>
<div>
    <p>Student Name : <strong id="stdname"></strong></p>
    <p>Student Surname : <strong id="stdsurname"></strong></p>
    <p>Student Age : <strong id="stdage"></strong></p>
    <p>Student City : <strong id="stdcity"></strong></p>
</div>



@section Scripts
{
  
    <script>

        $(document).ready(function () {
            $("#btnSend").click(function () {
                var ID = $("#StudentID").val();

                $.ajax({
                    url: '/Home/StudentInfo',
                    type: 'POST',
                    dataType: 'json',
                    data: { ID: ID },

                    success: function (data) {
                        console.log(data);
                        if (data.isSuccess) {
                            $("#stdname").html(data.std.name),
                                $("#stdsurname").html(data.std.surname),
                                $("#stdage").html(data.std.age),                               
                                $("#stdcity").html(data.std.city)

                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'The student could not be found!',
                                footer: 'Please search with different ID values'
                            });

                        }



                    }

                });

            });

        });



    </script>





}

